canvas {
  border: 1px solid blue;
  float: left;
  margin-right: 10px;
}

span {
  color: red;
}

progress {
  width: 300px;
}
progress:before {
  content: attr(value)'%';
}

h1 {
  font: 40px "spooky_light";
}

body {
  padding: 10px;
}

#gameInfo {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 15px;
}
