canvas {
  border: 1px solid blue;
  float: left;
  margin-right: 10px;
}

#numberOfEnemies {
  color: red;
}

progress {
  width: 300px;
}

h1 {
  font: 40px "spooky_light";
}

body {
  padding: 10px;
  height: 100%;
}

#gameInfo {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 15px;
  display: inline;
  position: absolute;
}

html { 
  background: url(battlefieldBackground.jpg) no-repeat center center fixed; 
  opacity: .4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
